version: 2
jobs:
  build:
    docker:
      - image: ishiko/gcc-ishiko-cpp:0.31.0
    steps:
      - run: 
          name: "Set DIPLODOCUSDB environment variable and create workspace directory"
          command: mkdir -p /projects/diplodocusdb && echo 'export DIPLODOCUSDB="/projects/diplodocusdb"' >> $BASH_ENV
      - checkout:
          path: /projects/diplodocusdb/physical-storage
      - run:
          name: Build 
          command: cd /projects/diplodocusdb/physical-storage/PageRepository/Makefiles/GNUmakefile && make
      - run:
          name: Build tests
          command: cd /projects/diplodocusdb/physical-storage/Tests/PageRepository/Makefiles/GNUmakefile && make
      - run:
          name: Run tests
          command: cd /projects/diplodocusdb/physical-storage/Tests/PageRepository/Makefiles/GNUmakefile && ./DiplodocusPageRepositoryTests
workflows:
  version: 2
  continuous_build:
    jobs:
      - build
  weekly_build:
    jobs:
      - build
    triggers:
      - schedule:
          cron: "0 8 * * 0"
          filters:
            branches:
              only:
                 - main
